<h1>{{title}}</h1>
{{> navbar}}
<p>Welcome to {{title}}</p>

<!-- This serves as the front page of the application. It will be inserted in place of '`body' in 'views/layout.hbs'. The marker, > navbar, refers to a partially named 'navbar' object. In the directory named 'partials' you can find where the partials are held that being 'partials/navbar.html' This will serve as a navigation bar that's included on every page.' -->

<!--
  
Files in the 'views' are templates into which data is rendered. they serve the view aspect of the Model-View-Controller (MVC) paradigm, hence the directory name. -->